@font-face {
    font-family: "MADGaramond";
    src: url("MADGaramondPro.ttf");
}

body {
    background-color: black;
    color: white;
}

:root {
    --action: #5945ff;
    --move: gold;
}

.header {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 40px;
    color: gray;
    border-bottom: 1px solid #464646;
}

.subheader {
    font-style: italic;
    color: gray;
}

.player {
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 2px dashed white;
}

.player-field {
    line-height: 25pt;
    padding-left: 24px;
    font-weight: bold;
    font-size: 16pt;
    cursor: pointer;
}

.chevron_long, .chevron_short, .action, .move {
    display: inline-block;
    background-color: var(--action);
    margin-left: -20px;
    cursor: pointer;
    height: 23px;
    margin-top: 4px;
}

.chevron_long, .action {
    width: 200px;
    clip-path: polygon(calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 0% 100%, 25px 50%, 0% 0%);
}

.chevron_short, .move {
    width: 110px;
    clip-path: polygon(calc(100% - 25px) 0%, 100% 50%, calc(100% - 25px) 100%, 0% 100%, 25px 50%, 0% 0%);
}

.action {
}

.action.disabled {
    background-color: darkred;
}

.move {
    background-color: var(--move);
}

.move.disabled {
    background-color: darkred;
}

.spent, .spent:hover {
    background-color: gray;
}

#message_box {
    height: 10em;
    max-height: 10em;
    overflow-y: auto;
    margin-top: 6px;
    margin-bottom: 6px;
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
}

.message {
    font-size: 20pt;
    transition-property: opacity, font-size;
    transition-duration: 15s;
}

.message.old {
    font-size: 12pt;
    opacity: .5;
}

.info {
    color: deepskyblue;
}

.warn {
    color: orange;
}

.error {
    color: red;
    font-weight: bold;
}

.sm-button {
    display: none;
}

@media (min-width: 1200px) {
    .sm-button {
        display: block;
    }

    .bg-button {
        display: none;
    }
}

action {
    font-weight: bold;
    color: var(--action);
}

move {
    font-weight: bold;
    color: var(--move);
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 4px;

    opacity: 1;
    transition-property: opacity;
    transition-duration: .5s;
}

.icon > svg {
    width: 50px;
    height: 50px;
}

/*noinspection ALL*/
.icon path {
    fill: var(--active);
}

.icon.active path {
    fill: black;
}

/*noinspection ALL*/
.icon.active {
    background-color: var(--active);
    border: 2px solid white;
}

.icon.disabled {
    opacity: .1;
}

txt_action::after {
    content: 'Action:';
    font-weight: bold;
}

cluepf::after {
    /*font-family: 'MADGaramond';*/
    content: 'a';
}
clue::after {
    font-family: 'MADGaramond';
    content: '';
    /*content: 'Investigation Result';*/
}
cluepl::after {
    font-family: 'MADGaramond';
    content: '';
    /*content: 'Investigation Results';*/
}

successpf::after {
    /*font-family: 'MADGaramond';*/
    content: 'a';
}
success::after {
    font-family: 'MADGaramond';
    content: '';
    /*content: 'Success';*/
}
successpl::after {
    font-family: 'MADGaramond';
    content: '';
    /*content: 'Successes';*/
}

input.player-investigator-name {
    background: transparent;
    border: none;
    border-bottom: 1px dashed white;
    color: white;
}

input.player-investigator-name:focus {
    background: transparent;
    outline: none;
    color: white;
    border-color: white;
    box-shadow: none;
}

select.player-investigator {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px dashed white;
}

select.player-investigator > option {
    background-color: black;
}

select.player-investigator:focus {
    background: transparent;
    outline: none;
    color: white;
    border-color: white;
    box-shadow: none;
}

.floating {
    float: left;
}

.clear_float {
    clear: both;
}

.thin-button {
    height: 30px;
    line-height: 1;
}

.menu-bar-spacer {
    height: 29px;
}

.menu-bar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    padding: 2px 2px 2px 4px;
}

.text-button {
    cursor: pointer;
    margin-right: 6px;
    padding: 2px;
}

.text-button:hover {
    background-color: white;
    color: black;
}

.overlay {
    z-index: 2000;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.popup {
    z-index: 3000;
    position: fixed;
    top: 100px;
    left: 50%;

    width: 600px;
    margin-left: -306px;

    background-color: #3c4043;
    border-radius: 15px 0 15px 0;
    padding: 6px;
}

.close_button {
    cursor: pointer;
    width: 50px;
    height: 25px;
    color: white;
    text-align: center;
    line-height: 25px;

    position: absolute;
    top: 0;
    right: 0;

}

.close_button:hover {
    background-color: red;
}